<?xml version='1.0' encoding='utf-8'?>
<Configuration>
  <Database>
    <ConnectionString>server=172.16.3.162; user id=sa;password=Sapassword1;database=PBS_V3_DATA;</ConnectionString>
  </Database>
  <Input>
    <Folder>./input/</Folder>
  </Input>
  <Email>
    <Pop3Server>mss290.kagoya.net</Pop3Server>
    <Pop3Port>995</Pop3Port>
    <Pop3User>t-okita</Pop3User>
    <Pop3Password>cthUVpPB1x</Pop3Password>
    <IdentifySubject>###EcoleData###</IdentifySubject>
  </Email>
</Configuration>

