<?xml version='1.0' encoding='utf-8'?>
<Configuration>
  <Database>
    <ConnectionString>server=192.168.140.128; user id=sa;password=Sapassword1;database=PBS_V3_DATA;TrustServerCertificate=true</ConnectionString>
  </Database>
  <Input>
    <Folder>./input/</Folder>
  </Input>
  <Email>
    <Pop3>
      <Server>mss290.kagoya.net</Server>
      <Port>995</Port>
      <User>t-okita</User>
      <Password>cthUVpPB1x</Password>
      <Subject>### Ecole Data Updated Notifications ###</Subject>
    </Pop3>
    <Smtp>
      <To>t-okita@netoffice.obisan.co.jp</To>
      <From>t-okita@netoffice.obisan.co.jp</From>
      <Server>mss290.kagoya.net</Server>
      <Port>587</Port>
      <User>t-okita</User>
      <Password>cthUVpPB1x</Password>
      <Subject>### Ecole Data Receive ###</Subject>
    </Smtp>
  </Email>
  <Company>
    <Id>6390001009863</Id>
  </Company>

</Configuration>

